p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

.poppins {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

  .pattaya {
    font-family: "Pattaya", serif;
    font-weight: 400;
    font-style: normal;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
  }

  .stars {
    background-image: url('/img/night sky.jpg');
    background-size: cover;
    height: 30vh;
    width: 30vh;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 5px solid green;
  }

  .center {
    text-align: center;
  }